<%- include('partials/header') %>
<div class="container mt-5">
  <h2><em>Either Username or Password is incoreect</em></h2>


  <a href="/register"><button type="submit" class="btn btn-dark btn-side" ><h5>Try Again</h5></button></a>

</div>
<%- include('partials/footer') %>
